*.ipynb_checkpoints/
.vscode/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*/__pycache__/
*.zip
.ruff_cache/
.mypy_cache/

# crash report files from MAQT training
*-crash-*.json

# cache files from forward caching
caches/